.overview {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    .loading {
        display: flex;
        align-items: center;

        .loadingText {
            margin-left: 1rem;
        }
    }

    .error {
        color: #ff1f17;
    }

    .subordinates {
        margin-top: 1rem;
        min-width: 250px;
    }

    .backButton {
        margin-top: 2rem;
    }
}
